server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: yologram-api
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

core:
  master:
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
  slave:
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate.default_batch_fetch_size: 10
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.jdbc.batch_size: 50
      hibernate.jdbc.batch_versioned_data: true
      hibernate.hbm2ddl.auto: none
      hibernate.jdbc.time_zone: Asia/Seoul
    show-sql: false
    open-in-view: false
    database-platform: link.yologram.api.config.database.CustomMySQLDialect

springdoc:
  swagger-ui:
    tags-sorter: alpha

yologram:
  auth:
    jwt:
      secret: X-YOLOGRAM-USER-AUTH-TOKEN
      expire_in_seconds: 86400  # 1 day
  client:
    data-go-kr:
      url: https://apis.data.go.kr
      conn-timeout: 10_000
      read-timeout: 10_000
      write-timeout: 10_000
      # service-key: # by aws parameter store

opensearch:
  connection-timeout: 3s
  connection-request-timeout: 3s
  socket-timeout: 5s
  max-conn-per-route: 100
  max-conn-total: 500

## Grafana Cloud: Logging (Loki)
grafana:
  loki:
   url:
   username:
   password:
## Grafana Cloud: Tracing (Tempo) + Metrics (Prometheus)
management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint:
      headers:
        Authorization:
    metrics:
      export:
        url:
        step: 1m
        headers:
          Authorization:
  opentelemetry:
    resource-attributes:
      service: ${spring.application.name}
      env: ${spring.profiles.active}
      hostname: ${HOSTNAME:localhost}
  metrics:
    tags:
      service: ${spring.application.name}
      env: ${spring.profiles.active}
      hostname: ${HOSTNAME:localhost}