files:
  "/etc/newrelic-infra.yml":
    mode: "000644"
    owner: root
    group: root
    content: |
      metrics_collection_interval: 15
      log_file: /var/log/newrelic-infra/newrelic-infra.log
      log_level: INFO
      log_file_count: 1
      log_limit_in_kbytes: 128
      custom_attributes:
        application: "yologram-api"
        service: "yologram-api"

commands:
  01_download_newrelic_infra_agent_repository:
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/amazonlinux/2023/x86_64/newrelic-infra.repo
  02_install_newrelic_infra_agent:
    command: sudo yum install newrelic-infra -y

container_commands:
  01_configure_and_restart_newrelic_infra:
    command: |
      sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 && sudo chmod +x /usr/local/bin/yq
      sudo yq e ".license_key = \"$(sudo /opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_LICENSE_KEY)\"" -i "/etc/newrelic-infra.yml"
      sudo yq e ".custom_attributes.environment = \"$(sudo /opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_ENVIRONMENT)\"" -i "/etc/newrelic-infra.yml"