on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up jdk
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: gradle

      - name: Gradle Build
        run: ./gradlew clean build --exclude-task test

      - name: Create deployment directory
        run: mkdir -p ./build/deployment

      - name: Copy application.jar
        run: mv ./build/libs/*.jar ./build/deployment/application.jar

      - name: Copy Procfile
        run: cp ./Procfile ./build/deployment/

      - name: Zip deployment directory
        run: |
          cd build/deployment
          zip -r ../deploy.zip . 

      - name: Configure environment variables
        id: set-env-vars
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          COMMIT_ID=$(git rev-parse --short HEAD)
          BUILD_TIME=$(date +'%Y%m%dT%H:%M:%S.%N')
          AWS_BEANSTALK_VERSION_LABEL="${BRANCH_NAME}-${COMMIT_ID}-${BUILD_TIME}"
          echo "AWS_BEANSTALK_VERSION_LABEL=${AWS_BEANSTALK_VERSION_LABEL}"
          echo "AWS_BEANSTALK_VERSION_LABEL=${AWS_BEANSTALK_VERSION_LABEL}" >> $GITHUB_ENV

      - name: Deploy to AWS Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_GITHUB_ACTIONS_DEPLOYER_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_GITHUB_ACTIONS_DEPLOYER_SECRET_KEY }}
          application_name: ${{ secrets.SERVICE_NAME }}-prod-app
          environment_name: ${{ secrets.SERVICE_NAME }}-prod-env
          version_label: ${{ env.AWS_BEANSTALK_VERSION_LABEL }}
          region: ${{ secrets.AWS_REGION }}
          deployment_package: ./build/deploy.zip
          use_existing_version_if_available: true
